# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment directories
env/
venv/
.venv/

# VS Code/VSCodium directories and files
.vscode/
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json
.vscode/*.code-workspace

# macOS files
.DS_Store

# Python egg files
*.egg
*.egg-info/
dist/
build/
*.egg-info/

# Coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
*.py,cover
.hypothesis/

# pytest
.cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Environments
.env
.envrc
.pyenv
.venv

# Other
*.log
